@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container{
    background-image: url(./assets/bg.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 40%;
    margin: auto;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0 50px;
}

.text{
    font-size: 100px;
    color: dimgrey;

}

.text-special{}

.f-input{
    padding: 15px 50px;
    border-radius: 5%;
    margin: 10px 0;
}

.submit-btn{
    background-color: darkorange;
    padding: 10px 110px;
    border-radius: 60px;
    border: none;
    color: #ffffff;

}